
.main {
  background: #f2f2f2f2;
  padding-top: 20px;

  &-header {
    font-size: 26px;
    font-weight: bold;
    color: #40a9ff;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 2px dashed #ccc;
  }

  &-content {
    padding: 30px;
    // height: 800px;

    &-cardtitle {
      color: #333;
      padding: 0;
      font-size: 16px;
      margin-bottom: 6px;
    }

    &-btn {
      // height: 38px;
      margin-top: 30px;
    }
  }
}


// 复写antd的
.ant-card-body {
  padding: 16px;
}


