
.row_choice_box {
  margin-bottom: 6px;

  &-cricle {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 12px;
    margin-top: 4px;
  }

  &-ratetext {
    top: -2px;
    position: relative;
  }
}

