@import '~antd/dist/antd.css';
@import '~antd-mobile/dist/antd-mobile.css';


html, body, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  max-width: 414px;
  height: 100%;
  /* background: red; */
  margin: auto;
}




